@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

$primary:#9356DC;
$secondary:#FF79DA;
$tertiary:#99E2D0;
$standard:black;
$grey:rgb(246,246,246);   

@mixin border-shadow($colour: $grey) {
    box-shadow: darken($colour,5%) 3px 3px 3px 3px;
}

body{
    font-family: Roboto, sans-serif;
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: $standard;
}
/*Header*/

#logomain{
    object-fit: cover;
    height: 30px;
    width: auto;
}
.container1{
    background-color:$grey ;
    min-height: auto;
    padding-bottom: 50px;
    h2{
        padding-left: 20%;
        padding-right: 20% ;
        padding-top: 20px;
    }
    h3{
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 3%;
    }
}
.ville{
    background-color: darken($color: $grey, $amount: 5%);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    width: 100%;

}
#recherche{
    background-color: darken($color: $grey, $amount: 5%);
    border: none;
    padding-left: 10px;
}
h1{
    font-family: Shrikhand, sans-serif;
}
h2{
    font-weight: bold;
}
h3{
    font-weight: lighter;
}
button{
    border-radius: 25px 25px 25px 25px;
    border: none;
    padding: 15px;
    background: linear-gradient($secondary,$primary);
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 17px;
    @include border-shadow()
}
/*Fonctionnement*/*

.fonctionnement{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 10px;
    h2{
        text-align: left;
        padding-left: 10px;
        font-weight: bold;
    }
}
.etapes_fonctionnement{
    display: flex;
    align-items: center;
    border: solid 1px none;
    border-radius: 20px;
    background-color:$grey; 
    padding: 20px 20px 20px 10px;
    margin: 15px;
    margin-right: 20px;
    position: relative;
    @include border-shadow();
    .fa-solid{
        color: grey;
        margin-right:20px ;
    }
    .da{
        color: $primary;
        margin-right: 20px;
    }
}
.etapes_fonctionnement3{
    @extend .etapes_fonctionnement;
    background-color: lighten($color: $primary, $amount: 35%);
}
.circle{
    position: relative;
    left: -26px;
    color: white;
    border: $primary 6px solid;
    border-radius: 50%;
    background-color: $primary;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
}
/* Restaurant */

.container_restaurant{
    background-color:$grey ;
    min-height: auto;
    padding-bottom: 50px;
    h2{
        text-align: left;
        padding-left: 20px;
        font-weight: bold;
        padding-top: 40px;
    }
}
.restaurant_card{
    background-color: white;
    margin-left: 20px;
    margin-right: 25px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    img{
        height: 190px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
        margin-top: -15px;
    }
}
.text_restaurant{
    display: flex;
    padding-top: 2%;
    justify-content: space-between;
    padding: 3% 10% 0% 3%;
    a{
        text-decoration: none;
        color: $standard;
        font-weight: bold;
    }
    .icone_restaurant{
        display: flex;
        justify-content: flex-end;
    }
}
.text_restaurant2{
    @extend .text_restaurant;
    margin-top: -15px;
}
.icone_restaurant{
    font-size: 35px;
}
footer{
    background-color: darken($color: $grey, $amount: 75%);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    h1{
        font-size: 18px;
        font-weight: normal;
        margin-bottom: -20px;
        padding-left: 20px;
        padding-top: 10px;
    }
}
.ohmyfood_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-bottom: 2%;
    .fa-utensils{
        font-size: 14px;
        padding-right: 10px;
    }
    .fa-handshake-angle{
        padding-right: 8px;
    }
    .footer_text{
        padding-top: 2%;
    }
}
