footer{
    background-color: darken($color: $grey, $amount: 75%);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
    h1{
        font-size: 18px;
        font-weight: normal;
        padding-left: 20px;
        padding-top: 20px;

    }
    @media #{$medium-up}{
        h1{
            margin: auto;
            margin-bottom: 15px;
            padding-left: 0;
            font-size: 24px;
        }
    }
}
.ohmyfood_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-bottom: 2%;
    .fa-utensils{
        font-size: 14px;
        padding-right: 10px;
    }
    .fa-handshake-angle{
        font-size: 12px;
        padding-right: 8px;
    }
    .footer_text{
        padding-top: 10px;
        a{
            text-decoration: none;
            color: white;
        }
    }
    @media #{$medium-up}{
        flex-direction: row;
        max-width: 100%;
        justify-content: space-around;
        font-size: larger;
    }
}
