header{
    text-align: center;
}
#logomain{
    object-fit: cover;
    height: 30px;
    width: auto;
}
.container1{
    background-color:$grey ;
    min-height: auto;
    padding-bottom: 50px;
    h2{
        padding-left: 20%;
        padding-right: 20% ;
        padding-top: 20px;
    }
    h3{
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 3%;
    }
}
.ville{
    background-color: darken($color: $grey, $amount: 5%);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    width: 100%;

}
#recherche{
    background-color: darken($color: $grey, $amount: 5%);
    border: none;
    padding-left: 10px;
}
.header_menu p{
    display: flex;
    justify-content:center;
    align-items: center;
}