header{
    text-align: center;
}
#logomain{
    object-fit: cover;
    height: 30px;
    width: auto;
}
.container1{
    background-color:$grey ;
    min-height: auto;
    padding-bottom: 50px;
    h1{
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
    h3{
        padding-left: 2%;
        padding-right: 2%;
    }
}
.ville{
    background-color: darken($color: $grey, $amount: 5%);
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    width: 100%;
    .fa-location-dot{
        font-size: 18px;
    }
}
#recherche{
    background-color: darken($color: $grey, $amount: 5%);
    border: none;
    padding-left: 15px;
    font-size: 18px;
}
