.btn{
    border-radius: 25px;
    border: none;
    padding: 15px;
    background: linear-gradient($secondary,$primary);
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 18px;
    width: 170px;
    text-align: center;
    @include border-shadow();
    @media #{$small-up}{
        width: 250px;
    }
    &:hover{
        opacity: 0.90;
        @include border-shadow($size:4px,$colour: $grey2)
    }
}
.icone_restaurant{
    align-self: flex-end;
    width: 24px;
    height: 24px;
        & .fa-regular {
            position: relative;
            transform: scale(1);
            transition: transform 200ms ease-in-out;
            transform-origin: center;
            top: -45px;
        }
        & .fa-solid {
            position: relative;
            top: -5px;
            transform: scale(0);
            transition: transform 400ms ease-in-out;
            transform-origin: center;
            opacity: 0;
            background: -webkit-linear-gradient($primary, $secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &:hover {
            cursor: pointer;
            .fa-solid {
                transform: scale(1);
                opacity: 1;
            }
            .fa-regular {
                transform: scale(0);
            }
        }
    }
    .loader{
        position:fixed;
        background: rgb(0, 0, 0);
        width: 100%;
        height: 100%;
        text-align: center;
        animation: loader-end 500ms 2500ms both;
        .loader_rond{
            border: 10px solid $secondary;
            border-top: 10px solid $primary;
            border-bottom: 10px solid $tertiary;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: auto;
            position: absolute;
            top: -100px;
            left: 0;
            right: 0;
            bottom: 0;
            animation: infinite linear 2s spin;
        }

    }
