.btn{
    border-radius: 25px;
    border: none;
    padding: 15px;
    background: linear-gradient($secondary,$primary);
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 18px;
    width: 170px;
    text-align: center;
    @include border-shadow();
    @media #{$small-up}{
        width: 250px;
    }
    &:hover{
        opacity: 0.75;
        @include border-shadow($size:9px,$colour: $standard)
    }
}
.fa-heart{
    font-size: 26px;
    &:hover{
        cursor: pointer;
        background: linear-gradient($secondary,$primary);
    }
}