.img_restaurant{
    background-color: $grey;
    img{
        height: 250px;
        width: 100%;
        object-fit: cover;
        padding-bottom: 0;
        z-index: 1;

        @media #{$large-up}{
            height: 350px;
        }
    }
}
.menu_restaurant{
    background-color: $grey;
    border-radius: 30px 30px 0 0;
    margin-top: -45px;
    z-index: 2;
    position: relative;
    padding: 15px;
    max-width: 100%;
    h3{
       text-transform: uppercase; 
    }
    .menu_content{
       display: inline-block;
       padding-bottom: 10px;
       .borderfake{
        width: 35px;
        border-bottom: 4px solid $tertiary;
        margin-top: -12px;
       }
    }
    .menu_text{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        border: solid 1px white;
        background-color: white;
        border-radius: 20px;
        padding-left: 12px;
        margin: 15px auto;
        max-width: 100%;
        @include border-shadow();
        &:hover{
            padding-right: 0px;
            border: none;
        }
        .menu_name{
            font-weight: bolder;
            font-size: larger;
        }
        .menu_text2{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            .menu_listing{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: 5%;
                margin-top: -30px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                p{
                    max-width: 200px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    @media #{$medium-up}{
                        max-width: 500px;
                    }
                    @media #{$large-up}{
                        max-width: 950px;

                    }
                }
            }
            h4{
                max-width: 200px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                @media #{$medium-up}{
                    max-width: 500px;
                }
                @media #{$large-up}{
                    max-width: 950px;
                }
            }
        }
        &:hover{
            cursor: pointer;
            .menu_choice{
            opacity: 1;
            min-width: 15%;
            right: 0px;
            border-radius: 0px 20px 20px 0px;
            }
            .menu_listing{
                p{
                max-width: 200px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                @media #{$medium-up}{
                    max-width: 500px;
                }
                @media #{$large-up}{
                    max-width: 950px;
                }
                }
            }
            .menu_choice{
                .fa-stack{
                transform: rotate(0turn);
                }
            }
        }
        .menu_choice{
            background-color: $tertiary;
            min-width:0%;
            border-radius: 0px 20px 20px 0px;
            opacity: 0;
            text-align: center;
            transform-origin: right;
            transition: all 500ms;
            .fa-circle{
                color: white;
            }
            .fa-check{
                color: $tertiary;
                font-size: 16px;
                @media #{$medium-up}{
                    font-size: 26px;
                }
                @media #{$large-up}{
                    font-size: 28px;
                }
            }
               .fa-stack{
                position: relative;
                top: 38%;
                transform: rotate(1turn);
                transition: transform 500ms ease-in-out;
                font-size: 12px;
                @media #{$medium-up}{
                    font-size: 20px;
                    top: 34% ;
                }
                @media #{$large-up}{
                    font-size: 22px;
                    top: 32%;
                }
               } 
            }
        }
    }
.menu_listing_prince{
    font-weight: bold;
    font-size: large;
}
.menu_titre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    .icone_restaurant{
        padding-bottom: 30px;
    }
}
.btn_menu{
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 60px;
}
.menu_block{
    animation: menu-apparition $anim-dur cubic-bezier(.25,.78,.35,.96) both;
    @for $i from 1 through $num-menu_block {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }        
    }
}