@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes loader-end{
    0%{
        opacity: 0.75;
        z-index: 999999;
    }
    50%{
        opacity: 0.50;
        z-index: 999999;
    }
    75%{
        opacity: 0.25;
        z-index: 999999;
    }
    100%{
        opacity: 0;
        z-index: -55;
    }
}
@keyframes menu-apparition{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    70%{
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
}
