@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

$primary:#9356DC;
$secondary:#FF79DA;
$tertiary:#99E2D0;
$standard:black;

body{
    font-family: Roboto, sans-serif;
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: $standard;
}
#logomain{
    object-fit: cover;
    height: 40px;
    width: auto;
}
.container1{
    background-color:rgb(246,246,246) ;
    padding:5% ;
}
.ville{
    background-color: rgb(234,234,234);
    padding-top: 2%;
    padding-bottom: 2%;
}
#recherche{
    background-color: rgb(234,234,234);
    border: none;
}
h1{
    font-family: Shrikhand, sans-serif;
}
h2{
    font-weight: bold;
}
h3{
    font-weight: lighter;
}
button{
    border-radius: 25px 25px 25px 25px;
    border: none;
    padding: 15px;
    background: linear-gradient($secondary,$primary);
    font-family: Roboto, sans-serif;
    color: white;
}
.fonctionnement{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.etapes_fonctionnement{
    display: flex;
    justify-content: space-between;
    text-align: left;
    border: solid 1px ;
    border-radius: 10px 10px 10px 10px;
    background-color:rgb(246,246,246); 
    padding: 10px;
}
.etapes_fonctionnement .fa-solid{
    color: grey;
}
.etapes_fonctionnement .da{
    color: $primary;
}